/* #geometria1 {
    position: fixed;
    right: 300px;
    fill: var(--color-primary);
    animation: slideG1 2s;
}

@keyframes slideG1 {
    from {
        top: -140px;
    }

    to {
        top: 0px;
    }
}

#geometria2 {
    position: fixed;
    left: 580px;
    bottom: 260px;
    fill: var(--color-primary);
    animation: slideG2 2s;
}

@keyframes slideG2 {
    from {
        fill: transparent;
    }

    to {
        fill: var(--color-primary);
    }
}

#geometria3 {
    position: fixed;
    right: 0px;
    bottom: 0px;
    fill: var(--color-background);
    stroke: var(--color-primary);
    animation: slideG3 2s;
}

@keyframes slideG3 {
    from {
        right: -285px;
    }

    to {
        right: 0px;
    }
} */

#boxConteudo {
    margin: 15% 5%;
    text-align: center;
}

#foto {
    width: 30%;
    border-radius: 50%;
}

#boxConteudo h1 {
    font-size: 60px;
    font-weight: 800;
}

#boxConteudo h1 b {
    color: var(--color-primary);
}

#boxConteudo h2 {
    font-size: 30px;
    font-weight: 400;
}

@media (max-width: 860px) {

    #boxConteudo {
        margin-top: 18%;
    }

    #boxConteudo h1 {
        font-size: 30px;
    }

    #boxConteudo h2 {
        font-size: 20px;
    }
}

@media (min-width: 860px) {

    #foto {
        display: none;
    }
}